aws_region            = "sa-east-1"
cluster_name          = "oficina-dev"
vpc_id                = "vpc-XXXXXXXX"
subnet_ids            = ["subnet-aaa", "subnet-bbb"]
rds_security_group_id = "sg-XXXXXXXX"
